html {
    box-sizing: border-box;
}

body {
    background-color: palegoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 30%;
    border-radius: 10px 20px;
    border: 4px solid hotpink;
}

button:hover {
    background-color: palevioletred;
    border: 3px solid olivedrab;
    cursor: pointer;
}

/* CLASSES */
.titleStyle {
    color: hotpink; 
    font-size: 30px;
    margin: 0;
    padding-top: 5%;
}

.rulesStyle {
    color: olivedrab;
    font-size: 20px;
}

.buttonStyle {
    padding: 10px; 
    margin: 10px; 
    background-color: pink; 
    border: 3px solid hotpink; 
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resultsText {
    color: olivedrab;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px;
}

.endGameText {
    color: goldenrod;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px;
}

/* IDs */

#new-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}